html
    head
        title='Every one loves Docker'
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    body
        div.container
            div.jumbotron
                h1 Docker is FUN and Docker is Great !!!
                p
                p
                    a.btn.btn-primary(href="https://bharathkumaraju.com/docker_cheatsheet.pdf") Docker cheatsheet
                p
